.h5p-linkedimageswap-container {
  text-align: center;
  background-color: white;
}
.h5p-linkedimageswap {
  /*width: 100%;*/
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.h5p-linkedimageswap-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;    
}

.h5p-linkedimageswap-image {
    /*max-width:100%;*/
    /*width: auto;
    height: auto;*/
    align-self: center;
}

.h5p-linkedimageswap-options-container {
    /*list-style-type: none;*/
    margin: 1em 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*flex: 235px;
    float: left;*/
}

div.h5p-linkedimageswap-options-container ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.h5p-linkedimageswap-options li {
    list-style: none;
    background-color: #ddd;
    margin: 0 0 0.4em 0.3em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: left;
    border-radius: 0.3em;
    border: 0.1em solid #ddd;
    color: #000;
    font-size: 1em;
    padding: 0.375em 0.875em;
    text-decoration: none;
    -webkit-box-shadow: 0 0.1em 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0.1em 0 rgba(0,0,0,0.2);
    box-shadow: 0 0.1em 0 rgba(0,0,0,0.2);
}

.h5p-linkedimageswap-options-widescreen li {
    display: block;
}

.h5p-linkedimageswap-options li p {
    margin: 0;
    margin-left: 1em;
    display: inline-block;
}

.h5p-linkedimageswap-options li[role="radio"]:before {
  font-family: 'H5PFontAwesome4';
  font-size: 1.4em;;
  content: "\f10c";
  position: absolute;
  top: 0.25em;
  left: 0.3em;
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.h5p-linkedimageswap-options li[role="radio"][aria-selected="true"]:before {
  content: "\f192";
}

.h5p-linkedimageswap-options li[role="radio"][aria-selected="true"] {
    color: #1a4473;
    background: #cee0f4;
    box-shadow: 0 0.1em 0 #b1c5e0;
}

.h5p-linkedimageswap-options li[role="radio"][aria-selected="false"]:hover {
    cursor: pointer;
    filter: none;
    border-color: transparent;
    background: #ececec;
}

.h5p-linkedimageswap-options li[role="radio"][aria-selected="true"]:hover {
    background-color: #e6effc;
    box-shadow: 0 0.1em 0 #b1c5e0;
}